# Application
NODE_ENV=development
PORT=3000

# Database
DATABASE_URL="mysql://root:password@localhost:3306/recruitment_hris"

# JWT
JWT_SECRET=your-super-secret-jwt-key-change-this-in-production
JWT_EXPIRES_IN=7d

# AWS S3
AWS_REGION=ap-southeast-1
AWS_ACCESS_KEY_ID=your-access-key-id
AWS_SECRET_ACCESS_KEY=your-secret-access-key
AWS_S3_BUCKET=your-bucket-name

# HRIS
FRONTEND_URL = http://localhost:8080/